* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0px 166px;
    display: flex;
    flex-direction: column;
    
}

.header {
    position: relative;
    background-color: black;
    height: 450vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

body {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0.2px;
}

.footer {
    margin-top: auto;
    padding: 250px;
    background-color: #1E1E1E;
    max-width: 100%;
}

.header-line {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    height: 70px;
    padding: 10px 20px;
    max-width: 1300px;
    margin: 30px auto;
    position: relative;
    z-index: 2;
}

.header-logo {
    margin-right: auto;
}

.header-logo img {
    position: relative;
    left: -50px;
    margin-left: 90px;
    width: 60px;
    height: auto;
}

.nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.nav a.active {
    position: relative;
    text-decoration: none;
}

.nav a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: black;
    transition: height 0.2s;
}

.nav a:last-child {
    margin-left: auto;
}

.nav img.whatsapp {
    margin-right: 15px;
    margin-left: 20px;
    width: 50px;
}

.blur {
    position: absolute;
    margin-left: 1200px;
    top: 300px;
    width: 778px;
    height: 778px;
    flex-shrink: 0;
    border-radius: 778px;
    background: #eb1010;
    filter: blur(250px);
    z-index: 1;
}

.soldier img {
    position: absolute;
    margin-left: 1000px;
    top: 90px;
    width :1000px;
    height: auto;
    flex-shrink: 0;
    z-index: 2;
}

.shadow {
    position: absolute;
    margin-top: 780px;
    margin-left: 800px;
    width: 1400px;
    height: 600px;
    flex-shrink: 0;
    background: black;
    filter: blur(36.5px);
    z-index: 3;
}

.title {
    font-family: 'Noto Sans Display', sans-serif;
    color: #FFF;
    font-size: 57px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 450px;
    transform: scaleX(1.2);
    margin-top: 100px;
}

.title-blur {
    position: absolute;
    font-family: 'Noto Sans Display', sans-serif;
    color: white;
    font-size: 57px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 362px;
    transform: scaleX(1.2);
    margin-top: -234px;
    filter: blur(40px)
    opacity(0.7)
}

.subtitle {
    font-family: 'Noto Sans Display', sans-serif;
    color: #B0B0B0;
    margin-left: 315px;
    font-size: 25px;
    margin-top: 15px;
    letter-spacing: 1px;
    transform: scaleX(1.01);
}

.arrow img {
    margin-left: 310px;
    margin-top: 50px;
    width: 60px;
}

.arrow-text {
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 470px;
    transform: scaleX(1.1);
    margin-top: -50px;
}

.students-back-gradient {
    width: 158px;
    height: 158px;
    flex-shrink: 0;
    border-radius: 25px;
    background: linear-gradient(136deg, #7F7F7F -77.13%, #000 100%);
    margin-left: 310px;
    margin-top: 125px;
}

.students-front-gradient {
    position: absolute;
    width: 158px;
    height: 158px;
    flex-shrink: 0;
    border-radius: 25px;
    background: linear-gradient(214deg, #D11818 34.69%, #ED6060 110.32%);
    margin-left: 20px;
    top: 760px;
}

.students-text-amount {
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 35px;
    transform: scaleX(1.1);
    margin-top: 48px;
}

.students-text {
    font-family: 'Noto Sans Display', sans-serif;
    color: #B0B0B0;
    margin-left: 380px;
    font-size: 25px;
    margin-top: 30px;
    letter-spacing: 2px;
    transform: scaleX(1.05);
}

.year-back-gradient {
    width: 158px;
    height: 158px;
    flex-shrink: 0;
    border-radius: 25px;
    background: linear-gradient(136deg, #7F7F7F -77.13%, #000 100%);
    margin-left: 600px;
    margin-top: -222px;
}

.year-front-gradient {
    position: absolute;
    width: 158px;
    height: 158px;
    flex-shrink: 0;
    border-radius: 25px;
    background: linear-gradient(214deg, #D11818 34.69%, #ED6060 110.32%);
    margin-left: 20px;
    top: 760px;
}

.year-text {
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 20px;
    transform: scaleX(1.1);
    margin-top: 48px;
}

.year-create-text {
    font-family: 'Noto Sans Display', sans-serif;
    color: #B0B0B0;
    margin-left: 610px;
    font-size: 25px;
    margin-top: 30px;
    letter-spacing: 2px;
    transform: scaleX(1.05);
}

/*    О НАС     */

.o-nas {
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 384px;
    transform: scaleX(1.1);
    margin-top: 130px;
}

.circle {
    margin-left: 555px;
    margin-top: -45px;
}

.o-nas-big {
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    font-size: 86px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    letter-spacing: 1px;
    transform: scaleX(1.2);
    margin-left: 1390px;
    margin-top: -80px;
    opacity: 0.1;
    position: absolute;
    z-index: 4;
}

/*         О НАС СОДЕРЖАНИЕ        */

.target-frame {
    position: absolute;
    width: 649px;
    height: 745px;
    flex-shrink: 0;
    background: #FFF;
    margin-left: 310px;
    z-index: 4;
    margin-top: 45px;
    border-radius: 20px;
}

.target-title {
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    transform: scaleX(1.1);
    margin-left: 75px;
    margin-top: 40px;
}

.target-subtitle {
    font-family: 'Noto Sans Display', sans-serif;
    color: #B0B0B0;
    margin-left: 17px;
    font-size: 15px;
    margin-top: 5px;
    letter-spacing: 2px;
    transform: scaleX(1.05);
}

.target-text {
    font-family: 'Noto Sans Display', sans-serif;
    color: black;
    margin-left: 0px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
    letter-spacing: 1.5px;
    transform: scaleX(1.01);
}

.target-more {
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    transform: scaleX(1);
    margin-left: 0px;
    margin-top: 180px;
}


.gallery-frame {
    position: absolute;
    width: 649px;
    height: 300px;
    flex-shrink: 0;
    background: #FFF;
    margin-left: 1000px;
    z-index: 4;
    margin-top: 45px;
    border-radius: 20px;
}

.gallery-title {
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    transform: scaleX(1.1);
    margin-left: 75px;
    margin-top: 40px;
}

.gallery-subtitle {
    font-family: 'Noto Sans Display', sans-serif;
    color: #B0B0B0;
    margin-left: 17px;
    font-size: 15px;
    margin-top: 5px;
    letter-spacing: 2px;
    transform: scaleX(1.05);
}

.contacts-frame {
    position: absolute;
    width: 649px;
    height: 405px;
    flex-shrink: 0;
    background: #FFF;
    margin-left: 1000px;
    z-index: 4;
    margin-top: 385px;
    border-radius: 20px;
}

.contacts-title {
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    transform: scaleX(1.1);
    margin-left: 75px;
    margin-top: 40px;
}

.contacts-subtitle {
    font-family: 'Noto Sans Display', sans-serif;
    color: #B0B0B0;
    margin-left: 17px;
    font-size: 15px;
    margin-top: 5px;
    letter-spacing: 2px;
    transform: scaleX(1.05);
}

.contacts-ip-icon img {
    position: absolute;
    height: 65px;
    width: 60px;
}

.contacts-text {
    font-family: 'Noto Sans Display', sans-serif;
    color: black;
    margin-left: 70px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 18px;
    letter-spacing: 1.1px;
    transform: scaleX(1.01);
}

.contacts-number-icon img {
    position: absolute;
    height: 56px;
    width: 52px;
    left: 4px;
    margin-top: -6px;
}

.contacts-number-text {
    font-family: 'Noto Sans Display', sans-serif;
    color: black;
    margin-left: 70px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 25px;
    letter-spacing: 1.1px;
    transform: scaleX(1.01);
}

.contacts-owner-icon img {
    position: absolute;
    height: 56px;
    width: 52px;
    left: 4px;
    bottom: -97px;
    border-radius: 10px;
}

.contacts-owner-text {
    position: absolute;
    font-family: 'Noto Sans Display', sans-serif;
    color: black;
    margin-left: 70px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 33px;
    letter-spacing: 1.1px;
    transform: scaleX(1.01);
}

/*         СЛАЙДЕР        */

.slider {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: -15px;
    width: 500px;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(100% * 2);
}

.slide {
    min-width: 33.33%;
    padding: 10px;
}

.slide img {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

button {
    position: absolute;
    top: 155px;

    transform: translateY(-50%);
    color: white;
    border: none;
    background-color: white;
    padding: 0px;
}

.prev img {
    position: absolute;
    height: 17px;
    cursor: pointer;
    left: 540px;
    bottom: -125px;
}

.next img {
    position: absolute;
    height: 17px;
    cursor: pointer;
    left: 590px;
    bottom: -125px;
}

.slider video {
    width: 100%;
    height: auto;
  }

video.slider-item {
    width: 100%;
    height: auto; /* Убедитесь, что видео масштабируется */
}

/*      Lightbox стили        */

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.lightbox.show {
    display: flex;
    opacity: 1;
}

.lightbox img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    transform: scale(0.9);
    transition: transform 0.3s ease, opacity 0.3s ease; /* Убедитесь, что у вас есть плавная анимация для масштаба и прозрачности */
}

.scale-in {
    opacity: 1;
    transform: scale(1);
}

.scale-out {
    opacity: 0;
    transform: scale(0.9);
}

.lightbox.show img {
    transform: scale(1);
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 36px;
    color: white;
    cursor: pointer;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.arrow-left {
    left: 50px;
}

.arrow-right {
    right: 50px;
}

/*         МЕЖДУ, ДЛЯ КРАСОТЫ        */

.lines-one {
    position: absolute;
    width: 1px;
    height: 160px;
    flex-shrink: 0;
    background: #7F7F7F;
    margin-left: 310px;
    z-index: 4;
    margin-top: 875px;
}

.lines-two {
    position: absolute;
    width: 1px;
    height: 160px;
    flex-shrink: 0;
    background: #7F7F7F;
    margin-left: 980px;
    z-index: 4;
    margin-top: 875px;
}

.lines-three {
    position: absolute;
    width: 1px;
    height: 160px;
    flex-shrink: 0;
    background: #7F7F7F;
    margin-left: 1650px;
    z-index: 4;
    margin-top: 875px;
}

.lines-date-title {
    position: absolute;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    transform: scaleX(1.25);
    margin-left: 500px;
    margin-top: 925px;
}

.lines-date-subtitle {
    font-family: 'Noto Sans Display', sans-serif;
    color: #cc5f5f;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.5px;
    transform: scaleX(1.01);
    margin-left: 525px;
    margin-top: 960px;
}

.lines-students-title {
    position: absolute;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    transform: scaleX(1.25);
    margin-left: 1290px;
    margin-top: -68px;
}

.lines-students-subtitle {
    font-family: 'Noto Sans Display', sans-serif;
    color: #cc5f5f;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.5px;
    transform: scaleX(1.01);
    margin-left: 1232px;
    margin-top: -35px;
}

/*         О КАРАГАНДЕ        */

.about-karaganda-title {
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 384px;
    transform: scaleX(1.1);
    margin-top: 130px;
}

.about-karaganda-title-circle {
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
}

.about-karaganda-big {
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    font-size: 86px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    letter-spacing: 1px;
    transform: scaleX(1.2);
    margin-left: 1085px;
    margin-top: -100px;
    opacity: 0.1;
    position: absolute;
    z-index: 4;
}

.about-karaganda-text-one {
    position: absolute;
    font-family: 'Noto Sans Display', sans-serif;
    color: white;
    margin-left: 312px;
    font-size: 32px;
    font-weight: 400;
    margin-top: 55px;
    letter-spacing: 1.5px;
    transform: scaleX(1.01);
}

.about-karaganda-photo-one {
    position: absolute;
    margin-left: 340px;
    margin-top: -410px;
}

.about-karaganda-text-two {
    font-family: 'Noto Sans Display', sans-serif;
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin-top: 570px;
    margin-left: 1052px;
    letter-spacing: 1.5px;
    transform: scaleX(1.01);
}

.about-karaganda-photo-two {
    position: absolute;
    margin-left: 310px;
    margin-top: 580px;
}

.blur-2 {
    position: absolute;
    margin-left: -700px;
    top: 1750px;
    width: 778px;
    height: 778px;
    flex-shrink: 0;
    border-radius: 778px;
    background: #eb1010;
    filter: blur(250px);
    z-index: 1;
}

/*         НОВОСТИ        */

.news {
    position: absolute;
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 320px;
    transform: scaleX(1.1);
    margin-top: 90px;
}

.news-title-circle {
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
}

.news-title-big {
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    font-size: 86px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    letter-spacing: 1px;
    transform: scaleX(1.2);
    margin-left: 1300px;
    margin-top: 50px;
    opacity: 0.1;
    position: absolute;
    z-index: 4;
}

.footer-line-one {
    position: absolute;
    width: 1px;
    height: 1900px;
    flex-shrink: 0;
    background: white;
    margin-left: 700px;
    z-index: 4;
    margin-top: -1200px;
    transform: rotate(90deg);
}

.footer-line-two {
    position: absolute;
    width: 1px;
    height: 1900px;
    flex-shrink: 0;
    background: white;
    margin-left: 700px;
    z-index: 4;
    margin-top: -1120px;
    transform: rotate(90deg);
}

.footer-line-three {
    position: absolute;
    width: 1px;
    height: 80px;
    flex-shrink: 0;
    background: white;
    margin-left: 480px;
    z-index: 4;
    margin-top: -250px;
}

.footer-number-icon {
    position: absolute;
    margin-left: 170px;
    margin-top: -235px;
}

.footer-number {
    position: absolute;
    font-family: 'Noto Sans Display', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-left: 250px;
    margin-top: -225px;
    letter-spacing: 1.5px;
    transform: scaleX(1.1);
}

.footer-ip-icon {
    position: absolute;
    margin-left: 520px;
    margin-top: -235px;
}

.footer-ip {
    position: absolute;
    font-family: 'Noto Sans Display', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-left: 630px;
    margin-top: -225px;
    letter-spacing: 1.5px;
    transform: scaleX(1.1);
}

.footer-buttons {
    position: absolute;
    font-family: 'Noto Sans Display', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-left: 180px;
    margin-top: -100px;
    letter-spacing: 1.5px;
    transform: scaleX(1.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
