@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

body {
    font-family: "Unbounded", serif;
    background-color: #000;
    height: 4000px;
    overflow-x: hidden;
}

.container {
    max-width: 1550px;
    padding: 0 30px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 15px;
    background: linear-gradient(60deg, #da79f7, #e1bbfa);
    border-radius: 15px;
}
    
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgba(212, 0, 255, 0.5), rgba(153, 0, 255, 0.5));
    border-radius: 15px;
    cursor: n-resize;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ff00f2, #7700ff);
    
}

/* Header */

.header {
    background-color: #000;
    height: 74px;
}


.logo-img {
    display: flex;
    justify-content: flex-end;
    
}

.logo-image {
    width: 130px;
    transition: transform 0.3s ease;
}

.logo-image:hover {
    transform: scale(1.1); /* Увеличение размера */
}


.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-logo {
    display: block;
    width: 220px;
    margin-top: -76px;
    transition: transform 0.3s ease;
}

.text-logo:hover {
    transform: scale(1.1); /* Увеличение размера */
}


/* Кнопка выпадающего списка */
.dropbtn {
    position: absolute;
    padding: 4px 30px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #AD5CE3;
    margin-top: -81px;
    color: #AE5DE4;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    margin-top: -30px;
    display: block; /* Меню будет отображаться, но скрыто */
    position: absolute;
    background-color: #a889cc;
    min-width: 255px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    opacity: 0;
    height: 0; /* Начальная высота - 0, чтобы оно было скрыто */
    overflow: hidden; /* Скрывает содержимое, пока не развернуто */
    padding: 0 16px; /* Добавляем отступы для анимации */
    transition: opacity 0.3s ease, height 0.3s ease, padding 0.3s ease; /* Плавная анимация */
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
    background-color: #dddddd;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    opacity: 1; /* Сделать меню видимым */
    height: 150px; /* Установить максимальную высоту меню, которое будет открываться */
    padding: 12px 16px; /* Плавно добавляем отступы */
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого */
.dropdown:hover .dropbtn {
    background-color: #390d6b;
    color: #fff;
}


.header-line {
    width: 100%;
    height: 4px;
    flex-shrink: 0;
    background: #181818;
    margin-top: -27px;
}


/* Main */


.image-container {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 2000px;
    margin: 0 auto;
}

.line-blur {
    height: 100px;
    flex-shrink: 0;
    background: black;
    filter: blur(7.800000190734863px);
    margin-top: -10px;
    margin-left: -50px;
    position: relative;
    z-index: 1;
}

.main-title {
    position: relative;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -42vw;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Unbounded;
    font-size: 3.65vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
    cursor: default;
}

.main-subtitle {
    position: relative;
    color: #FFF;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Unbounded;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: default;
}




/* Стрелка влево */
.left-arrow {
    position: absolute;
    top: 40vh;
    left: 5vw;
    width: 8.06vw;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

/* Стрелка вправо */
.right-arrow {
    position: absolute;
    top: 40vh;
    left: 85vw;
    width: 8.06vw;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

/* Эффект при наведении */
.left-arrow:hover, .right-arrow:hover {
    transform: scale(1.1); /* Увеличение стрелки */
    opacity: 0.8;
}

/* Эффект при нажатии */
.left-arrow:active, .right-arrow:active {
    transform: scale(0.85); /* Легкое уменьшение стрелки */
    opacity: 0.9; /* Уменьшение прозрачности для выделения */
}



/* Карточки */

.cards {
    position: relative;
    padding: 400px 0;
    z-index: 3;
}

.cards-row {
    display: flex;
    text-align: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.cards-card {
    flex: 1 1 0;
    margin-bottom: 50px;
}

.cards-card-img {
    margin-bottom: 20px;

}

.cards-card-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    background: linear-gradient(91deg, #6A00FF 0.47%, #BF00FF 99.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards-card p {
    background: linear-gradient(91deg, #FFF 0.47%, #c4c4c4 99.53%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 2;
    font-size: 15px;
}


@media (max-width: 1800px) {
    .cards {
        padding: 330px 0;
    }
}

@media (max-width: 1650px) {
    .cards {
        padding: 320px 0;
    }
}

@media (max-width: 1500px) {
    .cards {
        padding: 300px 0;
    }
}

@media (max-width: 1400px) {
    .cards {
        padding: 250px 0;
    }
}

@media (max-width: 1250px) {
    .cards {
        padding: 220px 0;
    }
    .left-arrow, .right-arrow {
        margin-top: -30px;
    }
}

@media (max-width: 1135px) {
    .cards {
        padding: 190px 0;
    }
}

@media (max-width: 1050px) {
    .cards {
        padding: 150px 0;
    }
    .main-title {
        top: -30px;
    }
    .main-subtitle {
        top: -30px;
    }
    .left-arrow, .right-arrow {
        margin-top: -50px;
        width: 10vw;
    }
}

@media (max-width: 850px) {
    .cards {
        padding: 120px 0;
    }
    .left-arrow, .right-arrow {
        margin-top: -140px;
        width: 13vw;
    }
}

@media (max-width: 750px) {
    .cards {
        padding: 90px 0;
    }
    .main-title {
        top: -50px;
        font-size: 4vw;
    }
    .main-subtitle {
        top: -50px;
        font-size: 2vw;
    }
    .left-arrow, .right-arrow {
        margin-top: -140px;
    }
}

@media (max-width: 650px) {
    .cards {
        padding: 70px 0;
    }
}

@media (max-width: 550px) {
    .cards {
        padding: 25px 0;
    }
    .main-title {
        top: -70px;
    }
    .main-subtitle {
        top: -80px;
    }
    .left-arrow, .right-arrow {
        margin-top: -170px;
    }
}

@media (max-width: 450px) {
    .cards {
        padding: 0px 0;
    }
    .main-title {
        font-size: 4.5vw;
    }
    .main-subtitle {
        font-size: 2.2vw;
        margin-top: -15px;
    }
    .left-arrow, .right-arrow {
        margin-top: -169px;
    }
}

@media (max-width: 400px) {
    .cards {
        padding: 0px 0;
    }
    .left-arrow, .right-arrow {
        margin-top: -175px;
    }
}
